<tbody>
    <tr>
       <td style="direction:ltr;font-size:0px;padding:0;text-align:center">
          <div class="m_9044162788989325305rev-retail-header-IOm2soK4e" style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:700px">
             <table role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                   <tr>
                      <td style="direction:ltr;font-size:0px;padding:0;text-align:center">
                         <div class="m_9044162788989325305mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                            <table role="presentation" style="vertical-align:top" width="100%" cellspacing="0" cellpadding="0" border="0">
                               <tbody>
                                  <tr>
                                     <td style="font-size:0px;padding:32px 24px 8px;word-break:break-word" align="center">
                                        <table role="presentation" style="border-collapse:collapse;border-spacing:0px" cellspacing="0" cellpadding="0" border="0">
                                           <tbody>
                                              <tr>
                                                <td style="width:66px"><a href="http://haushaltsserver.ddns.net" style="color:#0666eb;text-decoration:none" target="_blank"><img alt="Haushaltsserver" src="http://192.168.0.81:7980/Haushaltsserver.png" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:10rem;font-size:30px" class="CToWUd" data-bit="iit" width="66" height="auto"></a></td>
                                              </tr>
                                           </tbody>
                                        </table>
                                     </td>
                                  </tr>
                               </tbody>
                            </table>
                         </div>
                      </td>
                   </tr>
                </tbody>
             </table>
          </div>
          <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:700px">
             <table role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                   <tr>
                      <td style="direction:ltr;font-size:0px;padding:0;text-align:center">
                         <div class="m_9044162788989325305mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                            <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
                               <tbody>
                                  <tr>
                                     <td style="vertical-align:top;padding:0">
                                        <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
                                           <tbody>
                                              <tr>
                                                 <td class="m_9044162788989325305rev-title-cXieOKSAN1" style="font-size:0px;padding:16px 24px;word-break:break-word" align="center">
                                                    <div style="font-family:Basier Circle,Helvetica Neue,Arial,sans-serif;font-size:34px;font-style:normal;font-weight:bold;letter-spacing:-0.2px;line-height:119%;text-align:center;color:#1a1c1f">Bestätige das Mikiya das Bad sauber gemacht hat</div>
                                                    
                                                 </td>
                                                 <a href="url">link text</a>
                                              </tr>

                                              
                                           </tbody>

                                            

                                        </table>
                                     </td>
                                  </tr>
                               </tbody>
                            </table>
                         </div>
                      </td>
                   </tr>
                </tbody>
             </table>
          </div>
          <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:700px">
             <table role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                   <tr>
                      <td style="direction:ltr;font-size:0px;padding:0;text-align:center">
                         <div class="m_9044162788989325305mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                            <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
                               <tbody>
                                  <tr>
                                     <td style="vertical-align:top;padding:0">
                                        <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
                                           <tbody>
                                              <tr>
                                                 <td class="m_9044162788989325305rev-text-YK5sTsOLZr" style="font-size:0px;padding:8px 24px;word-break:break-word" align="center">
                                                    <div style="font-family:Basier Circle,Helvetica Neue,Arial,sans-serif;font-size:22px;font-style:normal;font-weight:normal;line-height:167%;text-align:center;color:#1a1c1f">
                                                       <p style="margin:16px 0">wenn das stimmt tipp auf den button</p>
                                                    </div>
                                                 </td>
                                              </tr>
                                           </tbody>
                                        </table>
                                     </td>
                                  </tr>
                               </tbody>
                            </table>
                         </div>
                      </td>
                   </tr>
                </tbody>
             </table>
          </div>
          <div class="m_9044162788989325305rev-button-ywl8cPrZXm" style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:700px">
             <table role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                   <tr>
                      <td style="direction:ltr;font-size:0px;padding:0 24px;text-align:center">
                         <div class="m_9044162788989325305mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                            <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
                               <tbody>
                                  <tr>
                                     <td style="vertical-align:top;padding:0">
                                        <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
                                           <tbody>
                                              <tr>
                                                 <td style="font-size:0px;padding:0;padding-top:24px;padding-right:0;padding-bottom:24px;padding-left:0;word-break:break-word" align="center">
                                                    <table style="color:#000000;font-family:Basier Circle,Helvetica Neue,Arial,sans-serif;font-size:13px;line-height:22px;table-layout:auto;width:auto;border:0" width="NaN" cellspacing="0" cellpadding="0" border="0">
                                                       <tbody>
                                                          <tr>
                                                             <td role="presentation" style="border-radius:18px;font-style:normal;text-align:center;border:none;height:56px" valign="middle" bgcolor="#0666EB" align="center"><a href="http://haushaltsserver.ddns.net" style="font-size:18px;font-style:normal;font-weight:500;vertical-align:middle;background:none;color:#ffffff;display:table-cell;margin:0;padding:16px 24px;text-decoration:none" target="_blank" data-saferedirecturl="http://haushaltsserver.ddns.net">Sauber!</a></td>
                                                          </tr>
                                                       </tbody>
                                                    </table>
                                                 </td>
                                              </tr>
                                           </tbody>
                                        </table>
                                     </td>
                                  </tr>
                               </tbody>
                            </table>
                         </div>
                      </td>
                   </tr>
                </tbody>
             </table>
          </div>
       </td>
    </tr>
 </tbody>
 