table { 
    width: 100vw;
    height: 100vh; 
    table-layout:fixed;
/*     border-collapse: collapse; */
    
}
button{
    font-size: 2em;
    background: rgba(175, 247, 113, 0.777);
    color: rgba(0, 0, 0, 0.56);
    border-radius: 5px;
    border: none;
    width: 90%;
    display:block;
    padding: 10px;
    margin: auto;
    text-align: center;
    white-space: nowrap;

    height: 5rem;


}
button:active {
    
    background: rgb(36, 36, 36);
    cursor: pointer;
}

.collumnone{
    font-size: 2em;
    width:20%;
    max-width:100%;
    white-space:nowrap;
}
.wheretoclean {
    font-size: 2em;
}

.weeksplanned{
    font-size: 2em;
    text-align:  center;
    text-decoration: wavy;
    text-transform: capitalize;

}
.date{
    font-size: 2em;
    text-align:  center;
    max-width:100%;
    white-space:nowrap;
}

.center {
    margin-left: 0;
    margin-right: auto;
  }

#wrapper {
    margin:0;padding:0;
    color: rgb(255, 250, 250);
  }

th, td {
  background-color: rgba(28, 28, 28, 0.641);
  background-blend-mode:saturation;
  border: 1px solid rgba(244, 0, 0, 0.275);
  border-radius: 100px;
  text-align: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  font-size: 1em;
  height: 5em;
}

td { 
  overflow: hidden; 
  text-overflow: ellipsis; 
  word-wrap: break-word;
  vertical-align: middle;
  
}
#modal_change_assignment {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    vertical-align: middle;

    justify-content: center;
    align-items: center;
    background: var(--m-background);
}
#modal_child {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    vertical-align: middle;
  }

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    vertical-align: middle;  
}

.modal_change_assignment-content {
/*   position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  vertical-align: middle;  */ 

/*   width: 60rem;
  padding: 4rem 2rem;
  border-radius: .8rem;
  color: var(--light);
  background: var(--background);
  box-shadow: var(--m-shadow, .4rem .4rem 10.2rem .2rem) var(--shadow-1);
  position: relative;

  overflow: hidden; */

  width: 60rem;
  padding: 4rem 2rem;
  border-radius: .8rem;

  color: var(--light);
  background: var(--background);
  -shadow: var(--m-shadow, .4rem .4rem 10.2rem .2rem) var(--shadow-1);
  position: relative;

  overflow: hidden;
}

.modal__btn {
  margin-top: 4rem;
  padding: 1rem 1.6rem;
  border: 1px solid var(--border-color);
  border-radius: 100rem;

  color: inherit;
  background: transparent;
  font-size: 1.4rem;
  font-family: inherit;
  letter-spacing: .2rem;

  transition: .2s;
  cursor: pointer;
}

.modal__text {
  padding: 0 4rem;
  margin-top: 4rem;

  font-size: 1.6rem;
  line-height: 2;
}

.modal__title {
  font-size: 3.2rem;
  margin-top: 0rem;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
/* .modal_change-header {
  padding: 2px 16px;
    background-color: #ff0909;
    color: rgb(255, 255, 255);
}

.modal_change-footer {
  padding: 2px 16px;
    background-color: #ff0909;
    color: white;
} */

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2em 16em;
    display: flex; 
    justify-content: space-between;
}

#modal_text{

    font-display: auto;
    text-align: left;
    font-size: medium;
    background-color: #ffffff;
    align-self: unset;
    color: #000;
    white-space:nowrap;
    align-self: self-start;
}

.close {
    content: "\00D7";
    color: #aaa;
    float: right;
    font-size: 2.2em;
    font-weight: bold;
    height: 10%;
    width: 20%;
  }
.close_new{
  margin-top: 0rem;
  padding: 1rem 1.6rem;
  border: 1px solid var(--border-color);
  border-radius: 100rem;

  color: inherit;
  background: transparent;
  font-size: 1.4rem;
  font-family: inherit;
  letter-spacing: .2rem;

  transition: .2s;
  cursor: pointer;

  height: 10%;
  width: 10%;

  right: 0%;
  margin-right: 1rem;
}

.affirm {
    content: "Bestätigen";
    color: #aaa;
    left: 13em;
    font-size: 5em;
    font-weight: bold;
/*    vertical-align: middle; */
/*    flex:1; */
    display: inline-block;
    /*width: 100%;*/
/*    margin: 0 auto; */
}

.glow-on-hover {
 /*   width: 220px; */
 /*   height: 50px; */
    width: auto;
    height: auto;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgb(191, 5, 5);
    cursor: pointer;
    position: relative;
    z-index: 0;


    font-size: 2em;
    border-radius: 5px;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-right: auto;
    vertical-align:middle;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media only screen and (max-width: 720px) {
    /* horizontal scrollbar for tables if mobile screen */
    .tablemobile {
        overflow-x: auto;
        display: block;
    }
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  body{
    background-color: rgb(0, 0, 0);
    margin: 0px;

    --light: hsl(220, 50%, 90%);
    --primary: hsl(255, 30%, 55%);
    --focus: hsl(210, 90%, 50%);
    --border-color: hsla(0, 0%, 100%, .2);
    --global-background: hsl(240, 17%, 2%);
    --background: linear-gradient(to right, hsl(210, 47%, 35%), hsl(255, 30%, 25%));
    --shadow-1: hsla(236, 50%, 50%, .3);
    --shadow-2: hsla(236, 50%, 50%, .4);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', sans-serif;
    color: var(--light);
    background: var(--global-background);
  }
  
  /*chatgpt*/

  .navigation-menu {
    position: fixed;
    bottom: 300px;
    right: 300px;
    z-index: 999;
    pointer-events: none;
  }
  
  .navigation-menu__button {
    display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 9rem;
  top: 0; /* changed from 'bottom' */
  left: 0; /* changed from 'right' */
  margin: 0.5rem;
  width: 12rem;
  height: 12rem;
  background-color:#fffcfcc7;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  pointer-events: all;
}

.navigation-menu__button i{
font-size: 10rem;
}
  
  .navigation-menu__menu {
    display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   top: 50%; /* changed from 'bottom' */
   left: 50%; /* changed from 'right' */
   transform: translate(-50%, -50%);
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.8);
   backdrop-filter: blur(10px);
   transition: transform 0.3s ease-in-out;
   pointer-events: none;
  }
  
  .navigation-menu__menu--open {
    transform: translate(-50%, -90%); /* changed from 'translateY(90%)' */
    pointer-events: all;
    font-size: xx-large;
}
  
  .navigation-menu__menu a {
    margin: 1rem 0;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
  }
  
  .navigation-menu__menu--open a {
    opacity: 1;
    pointer-events: all;
  }

  /* chatgpt end */

  #pollmac {
    color:#fefefe;
  }

  #who{
        font-size: 10em; /* Set font size to be very big */
        font-family: Arial, sans-serif; /* Set font family */
        color: #ff69b4; /* Set font color */
        text-align: center; /* Center the number horizontally */
        margin-top: 35vh; /* Center the number vertically */
  }

  .please-login-Button{
    background: linear-gradient(to bottom, #ffff00 0%, #ff9900 100%);
    height: 60%;
    width: 95%;

  }

  .wechsel-button{
    width: 90%;
    padding: 8px;
    /* border: 1px solid #ccc; */
    
    color: #333;
    position: absolute;
    /* display: block; */
    vertical-align: middle;
    text-align: center;
    border: none;
    white-space:normal;
    background:unset;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
  }

.button-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* center the items vertically */
  align-items: center;
  position: relative;
  height: 5em; 
}

.buttonsoftoday{
  height: 3em;
  background: linear-gradient(to bottom, #000066 0%, #003300 100%);
}

.buttonofchoice {
  background:#00ffd5;
}
#swapicons {
  font-size: 190px;
}

.toggler-wrapper {
	display: block;
	width: 45px;
	height: 25px;
	cursor: pointer;
	position: relative;
}

.toggler-wrapper input[type="checkbox"] {
	display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
	background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
	background-color: #ccc;
	position: absolute;
	border-radius: 100px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
	position: absolute;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.toggler-wrapper.style-1 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
	left: calc(100% - 19px - 3px);
}

.toggler-wrapper.style-1 .toggler-knob {
	width: calc(25px - 6px);
	height: calc(25px - 6px);
	border-radius: 50%;
	left: 3px;
	top: 3px;
	background-color: #fff;
}

